<div class="task_container">
  <h2><%= @task.title %></h2>
  <p><%= @task.details %></p>
  <%= check_box_tag @task.completed, class:'checkbox' %>
</div>


<div class="button_container"><p><%= link_to "Edit", edit_task_path, class:'link'%></p>
<p><%= link_to "Back to list", tasks_path, class:'link'%></p>
<p><%= link_to "Delete", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:'link'%></p>
</div>
